{
    margin : 0;
    padding : 0;
    max-width: 800px;


}
body {
    background-color: rgb(214, 189, 238);
    font-family: "Open Sans" , sans-serif;
}
a {
text-decoration: none;
}
.contenedor {
    width: 90%;
    max-width: 800px;
    margin: auto;
}
.heder {
    padding: 40px 0;
}
.heder.logo {
    text-align: center;
    margin-bottom: 40px;
}
.header.logo p {
    color: blueviolet;
}
.header.barra-busqueda{
    width: 70%;
    height: 40px;
    line-height: 40px;
}
